<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex,nofollow" />
  <meta name="viewport" content="width=device-width,maximum-scale=1,user-scalable=no,minimal-ui">
  <title>404 Not Found</title>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800&amp;subset=latin,latin-ext">
  <link rel="stylesheet" type="text/css" media="all" href="https://cdn.travel.sygic.com/a9467f9e78fe/css/__v2/error.css">
</head>
<body>
  <script type="text/javascript">
  //   /* <![CDATA[ */
  //   var _gaq=_gaq||[];
  //   _gaq.push(
  //     ['_setAccount',"UA-48316513-1"]
  //       ,['_trackPageview',"http-error\/404\/?page=http:\/\/travel.sygic.com\/404?utm_source=bypeople&referer=http:\/\/www.bypeople.com\/404-page-design\/"]
  //   );

  //   (function(){
  //     var ga=document.createElement('script');
  //     ga.type='text/javascript';
  //     ga.async=true;
  //     ga.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';
  //     var s=document.getElementsByTagName('script')[0];
  //     s.parentNode.insertBefore(ga,s);
  //   })();
  //   /* ]]> */
  // </script>



<div class="code">
 
      <span>4</span>
      <span>0</span>
      <span>4</span>
      
    </div>
  <a href="../public/login" class="button">Go home Error Page</a>

    
</body>
<!-- #TB_MON#CHSET#a9467f9e78fe#AWSID#10.1.1.39#TB_MON# -->
</html>
