<!DOCTYPE html>
<html>
<head>
	<title>GPS</title>
	<link rel="shortcut icon" href="assets/imgs/tab.ico">
	<link href="assets/css/bootstrap.css" rel="stylesheet">
</head>
<body>
	<div class="container">
  	<h3>Frequently Asked Question</h3>
<div class="panel panel-info">
    <div class="panel-heading">FAQ</div>
    <div class="panel-body">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th width="10%">SNo</th>
                    <th width="30%">DeviceName</th>
                    <th width="60%">SMS Format </th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Concox GT06N</td>
                    <td>SERVER,1,thegps.in,9964,0#</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>JIMI JV200</td>
                    <td>SERVER,1,thegps.in,9964,0#</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Concox GT06</td>
                    <td>SERVER,1,thegps.in,9964,0#</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Concox VTrack2</td>
                    <td>SERVER,1,thegps.in,9964,0#</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Concox GT03A</td>
                    <td>SERVER,1,thegps.in,9969,0#</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Concox GT300</td>
                    <td>SERVER,1,thegps.in,9961,0#</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Concox TR02</td>
                    <td>SERVER,666666,1,thegps.in,9965,0#</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Tk06</td>
                    <td>#ip#123456#188.166.244.126#9964#</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>TK103</td>
                    <td>ip188.166.244.126port9968</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>TK 99/100</td>
                    <td>tcpip188.166.244.126port9978</td>
                </tr>
                <tr>
                	<td>11</td>
                	<td>COBAN TK103</td>
                	<td>
                		<div><span class="glyphicon glyphicon-chevron-right"></span>adminip123456 188.166.244.126 9981</div> 
                		<div><span class="glyphicon glyphicon-chevron-right"></span>fix010s002m***n123456</div>
                	</td>
                </tr>
                <tr>
                	<td>12</td>
                	<td>GT02</td>
                	<td>ip#188.166.244.126#9968#</td>
                </tr>
                <tr>
                	<td>13</td>
                	<td>L100</td>
                	<td>port #9950</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>iTriangle TS101</td>
                    <td>
                        <div><span class="glyphicon glyphicon-chevron-right"></span>set$160318049@aquila123#CFG_GPRS:CMNET, , ,188.166.244.126,9952*</div> 
                        <div><span class="glyphicon glyphicon-chevron-right"></span>set$160318049@aquila123#CFG_TL:GPRS,10S,30S*</div>
                    </td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>LKGPS</td>
                    <td>
                        <div><span class="glyphicon glyphicon-chevron-right"></span> <a>For connection establishment: </a>adminip+password+space+ipaddr+space+port number</div> 
                        <div><span class="glyphicon glyphicon-chevron-right"></span> <a>open gprs: </a>gprs+password</div>
                        <div><span class="glyphicon glyphicon-chevron-right"></span> <a>Unlimited times auto track: </a>t030s***n+password</div>
                        <div><span class="glyphicon glyphicon-chevron-right"></span> <a>No sleep working mode: </a>nosleep+password</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
	</div>






</body>
</html>