<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="Satheesh">
<title>GPS</title>
<link rel="shortcut icon" href="assets/imgs/tab.ico">
<link href="assets/css/bootstrap.css" rel="stylesheet">
<link href="assets/css/jVanilla.css" rel="stylesheet">
<link href="assets/css/simple-sidebar.css" rel="stylesheet">
<link rel="stylesheet" href="assets/css/popup.bootstrap.min.css">
<link href="assets/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet">
<link href="../app/views/reports/table/font-awesome.css" rel="stylesheet" type="text/css">

<style type="text/css">
     /*#map_canvas{ width:100%; height:100%;}  */
     #container-speed{  width: 170px; height: 100px;}
     #container-fuel{  width: 170px; height: 100px;}
</style>

<script src="assets/js/static.js"></script>
<script src="assets/js/jquery-1.11.0.js"></script>
<script type="text/javascript">
    
    var aUthName = [];
    try{

        $.ajax({

            async: false,
            method: 'GET', 
            url: "aUthName",
            // data: {"orgId":$scope.orgIds},
            success: function (response) {

                console.log(response)
                aUthName = response;
                sessionStorage.setItem('apiKey', JSON.stringify(aUthName[0]));
                sessionStorage.setItem('userIdName', JSON.stringify('username'+","+aUthName[1]));
            }
        })
        
        
    }catch (err){

        // sp[1] = 'DEMO';
        console.log(err)
    }
</script>
</head>

    <div id="status">&nbsp;</div>
<!-- <div class="wrap">
  <div class="loading">
    <div class="bounceball"></div>
    <div class="text">NOW LOADING</div>
  </div>
</div> -->

<body ng-app="mapApp">
<div ng-controller="mainCtrl" class="ng-cloak">
   <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="javascript:void(0);"><img id="imagesrc" src=""/></i></a>

                </li>
                <li class="track"><a href="javascript:void(0);" class="active"><div></div><label>Track</label></a></li>
                <!-- <li class="history"><a href="../public/track?maps=replay"><div></div><label>History</label></a></li> -->
               <!-- <li class="alert01"><a href="../public/reports"><div></div><label>Reports</label></a></li> -->
                <li class="alert01"><a ng-href="{{navReports}}"><div></div><label>Reports</label></a></li>
            <!--    <li class="stastics"><a href="../public/statistics"><div></div><label>Statistics</label></a></li>-->
                <li class="stastics"><a ng-href="{{navStats}}"><div></div><label>Statistics</label></a></li>
            <!--    <li class="admin"><a href="../public/settings"><div></div><label>Scheduled</label></a></li> -->
                <li class="admin"><a ng-href="{{navSched}}"><div></div><label>Scheduled</label></a></li>
            <!--    <li class="fms"><a href="../public/fms"><div></div><label>FMS</label></a></li> -->
                <li class="fms"><a ng-href="{{navFms}}"><div></div><label>FMS</label></a></li>
                <li><a href="../public/logout"><img src="assets/imgs/logout.png"/></a></li>         
            </ul>
            <ul class="sidebar-subnav" style="max-height: 100vh; overflow-y: auto;" ng-init="vehicleStatus='ALL'">
                <li style="margin-bottom: 15px;"><div class="right-inner-addon" align="center"><i class="fa fa-search"></i><input type="search" class="form-control" placeholder="Search" ng-model="searchbox" name="search" /></div>
                <select ng-model="vehicleStatus" style="width:127px; margin-top: 5px; font-size: 12px;padding:3px 3px 3px 3px;">
                    <option value="ALL">All ({{totalVehicles}})</option>
                    <option value="ON">ON ({{vehicleOnline}})</option>
                    <option value="OFF">OFF ({{attention}})</option>
                    <option value="P">Parked ({{parkedCount}})</option>
                    <option value="M">Moving ({{movingCount}})</option>
                    <option value="S">Idle ({{idleCount}})</option>
                    <option value="O">Overspeed ({{overspeedCount}})</option>
                </select>
               
                </li>
                <li ng-repeat="location in locations04 | orderBy:'group'"><a href="javascript:void(0);" ng-click="groupSelection(location.group, location.rowId)" ><span title="{{trimColon(location.group)}}" >{{trimColon(location.group)}}</span></a>
                    
            <ul class="nav"  style="max-height: 400px; overflow-y: auto;">
            <li ng-repeat="loc in location.vehicleLocations | orderBy:natural('shortName') | statusfilter:vehicleStatus | filter:searchbox" ng-class="{active:selected==loc.rowId}">
                        <a href="javascript:void(0);"  ng-class="{red:loc.status=='OFF'}" ng-click="genericFunction(loc.vehicleId, loc.rowId)">
                          <img ng-src="assets/imgs/{{loc.vehicleType}}.png" fall-back-src="assets/imgs/Car.png" width="16" height="16"/>
                        
                        <span  tooltips tooltips-position="right"> {{loc.shortName}} </span> </a> 
                           <!--  data-toggle="tooltip" data-original-title="<div align='left'><span>Speed</span> &nbsp;-&nbsp; {{loc.speed}}; <br> <span>Ignition</span> &nbsp;-&nbsp; {{loc.ignitionStatus}} <br> <span>Address</span> &nbsp;-&nbsp; {{loc.address}}  </div>" tooltip-loader -->
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
        <div id="testLoad"></div>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        
                        <div class="topContent" style="visibility: hidden">
                            <div class="row">
                                <div class="col-md-2" align="center" id="totalvehicles">
                                    <h6>Total Vehicles - <span>( {{totalVehicles}} )</span></h6>
                                </div>
                                <div class="col-md-6 col-lg-2">
                                    <h6>Vehicles Online - <span>( {{vehicleOnline}} )</span></h6>
                                </div>
                                <div class="col-md-2" id="totalalerts">
                                    <h6>Alarms - <span>( {{alertstrack}} )</span></h6>
                                </div>
                                <div class="col-md-2" id="totalAttention">
                                    <h6>Attention - <span>( {{attention}} )</span></h6>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <h6>Overall Distance <span>( {{distanceCovered}} Km)</span></h6>
                                </div>
                            </div>
                        </div>
                        
                        <div id="menuView">

                            <!-- Side Menu -->
                            <table>
                                <tr>
                                    <td>
                                        <div id="viewMap">
                                             <span title="List and Maps" id="listImg" ng-click="mapView('listMap')"><img style="width: 20px; height: 20px" src="assets/imgs/lis.png" /></span>
                                            <span id="homeImg" ng-click="mapView('tablefull')"><img style="width: 20px; height: 20px" src="assets/imgs/back.png" /></span>
                                        </div>
                                    </td>
                                </tr>
                               <!--  <tr>
                                    <td>
                                        <div title="Live Details" id="viewMap"><img id="minmax" src="assets/imgs/ply.png" /></div>
                                    </td>
                                </tr> -->
                                <tr>
                                    <td>
                                        <div title="Maps Marker Details" id="viewMap"><img id="minmaxMarker" style="width: 20px; height: 20px" src="assets/imgs/i.png" /></div>
                                    </td>
                                </tr>
                                <!-- <tr>
                                    <td>
                                        <div title="Near by Vehicles" id="viewMap" ng-click="nearBy();"><img src="assets/imgs/near.png" />
                                        
                                    </td>
                                </tr> -->
                                <tr>
                                    <td>
                                        <div id="viewMap">
                                            <span title="Cluster Marker" id="cluster" ng-click="mapView('cluster')"><img style="width: 20px; height: 20px" src="assets/imgs/group.png" /></span>
                                            <span title="Marker View" id="single" ng-click="mapView('single')"><img style="width: 20px; height: 20px" src="assets/imgs/single.png" /></span>
                                        </div>
                                    </td>
                                </tr> 
                                <tr>
                                    <td>
                                        <div id="viewMap" title="Full Screen">
                                           <span id="fullscreen" ng-click="mapView('fscreen')"><img id="minmaxMarker" style="width: 20px; height: 20px" src="assets/imgs/full.png" /></span>
                                            <span title="Exit FullScreen" id="efullscreen" ng-click="mapView('escreen')"><img style="width: 20px; height: 20px" src="assets/imgs/exit_full.png" /></span>
                                        </div>
                                    </td>
                                </tr>   
                                <tr>
                                    <td>
                                        <div id="viewMap">
                                            <span ng-click="mapView('home')">
                                                <img style="width: 20px; height: 20px" src="assets/imgs/hom.png" />
                                            </span>
                                            
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div id="viewMap" title="Graphs">
                                            <span ng-click="mapView('graphs')" id="graphsCharts">
                                                <img style="width: 20px; height: 20px" src="assets/imgs/graphs.png" />
                                            </span>
                                            
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div id="viewMap" title="Change Marker" id="cMarker">
                                            <!-- <span ng-click="mapView('markerChange')">
                                                <img style="width: 20px; height: 20px" src="assets/imgs/graphs.png" />
                                            </span> -->
                                            <span title="Cluster Marker" id="carMarker" ng-click="mapView('markerChange')"><img style="width: 20px; height: 20px" src="assets/imgs/mMarker.png" /></span>
                                            <span title="Marker View" id="marker" ng-click="mapView('undefined')"><img style="width: 20px; height: 20px" src="assets/imgs/mCar.png" /></span>
                                            
                                        </div>
                                    </td>
                                </tr>

                            <!--    <tr>
                                    <td>
                                        <div id="viewMap">
                                            <span title="Tollgate Markers" id="tollYes" ng-click="mapView('tollYes')"><img style="width: 20px; height: 20px" src="assets/imgs/group.png" /></span>
                                            <span title="Remove Tollgates" id="tollNo" ng-click="mapView('tollNo')"><img style="width: 20px; height: 20px" src="assets/imgs/single.png" /></span>
                                        </div>
                                    </td>
                                </tr> -->

                            </table>    
                            
                        </div>
                        <!-- <div id="minmaxMarker" style="position: absolute;top: 10px;left: 120px; z-index:999999" title="Maps Marker Details">
                            <img src="assets/imgs/add.png" /> <a href="../public/liveTrack" id="fullscreen" target="_blank"><img id="minmaxMarker"  src="assets/imgs/full.png" /></a>
                        </div> -->
                        <div id="draggable">
                               <div class="legendlist">
                                    <h3><b>Vehicle Status</b></h3>
                                    <div>
                                        <table cellpadding="0" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td>Moving</td>
                                                    <td><img src="assets/imgs/green.png"/></td>
                                                    <td>Standing</td>
                                                    <td><img src="assets/imgs/orange.png"/></td>
                                                </tr>
                                                 <tr>
                                                    <td>Parked</td>
                                                    <td><img src="assets/imgs/flag.png"/></td>
                                                    <td>Geo Fence</td>
                                                    <td><img src="assets/imgs/blue.png"/></td>
                                                </tr>
                                                 <tr>
                                                    <td>Overspeed</td>
                                                    <td><img src="assets/imgs/red.png"/></td>
                                                    <td>No Data</td>
                                                    <td><img src="assets/imgs/gray.png"/></td>
                                                </tr>
                                        </table>
                                    </div>
                                </div>
                        </div>

                    <div class="details_box_top" ng-show="dpdown=='Yes'">
                        <div class="alert alert-warning">
                            <span>Sorry for the inconvenience, Reports not available for one hour.</span>
                        </div>
                    </div>

        <div class="details_box_zoho"  ng-show="zohod" style="padding-top: 15px;"><span class="closeZoho" ng-click="ZohoCall()">&times;</span><a style="color:inherit;" target="_blank" ng-href="{{zohoLink}}">{{zohoDays}}</a></div>

                 <!--  <div class="togl_buton"  ng-show="toglButtn" ng-click="toglButon()"> <img src="assets/imgs/Up-Arrows.png"/></div>-->
                   <div class="details_box_bottom">Support Details: {{support}}</div>

                        <div id="graphsId">
                            <div>
                                <div>Speed - <label id="speed"></label>&nbsp;Km/h</div>
                                <div id="container-speed"></div>
                            </div>
                            <div ng-show="vehiclFuel">
                                <div>Tank Size - <label id="fuel"></label>&nbsp;Ltr</div>
                                <div id="container-fuel"></div>
                            </div> 
                        </div>

                        <div id="minmax" ng-show="minmaxs" class="rightsection">
                            <img src="assets/imgs/add.png" />
                        </div>
                        
                        <div id="contentmin" class="rightsection">
                       
                               <input type="button" id="traffic" ng-click="check()" value="Traffic" />
                               <input type="button" value="Measure" id="pac-input02" ng-click="distance();"/>
                               <input type="text" id="distanceVal" value="0" disabled/> <span style="font-size:12px;">Kms</span>
                               <div class="_caption_rightSide" align="center">Live Tracking <div id="google_translate_element"></div></div>
                            
                            <div style="display: flex">
                                
                                <div >
                                <select ng-model="days1" class="_button_select">
                                    <option value = "0">Vehicle Id</option>
                                    <option ng-repeat="vehi in vehicle_list" value="{{vehi.vehiID}}">{{vehi.vName}}</option>
                                </select>

                                <select id="Days" ng-model="days"  class="_button_select">
                                    <option value = "0">Days</option>
                                    <option value = "1">1</option>
                                    <option value = "2">2</option>
                                    <option value = "3">3</option>
                                    <option value = "4">4</option>
                                    <option value = "5">5</option>
                                    <option value = "6">6</option>
                                    <option value = "7">7</option>
                                    <option value = "8">8</option>
                                    <option value = "9">9</option>
                                    <option value = "10">10</option>
                                    <option value = "30">1 Month</option>
                                    <option value = "90">3 Month</option>
                                    <option value = "365">1 Year</option>
                                </select>
                                <input type="button" id="traffic" data-toggle="modal" data-target="#myModal" value="Get Url" />
                                </div>

                                <div class="modal fade" id="myModal" role="dialog" data-backdrop="false">
                                    <div class="modal-dialog modal-md">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                         <div class="form-group">
                                             <h4>Get Url</h4>
                                            </div>
                                        </div>
                                        <div class="modal-body">
                                             <label for="mail">Mail Id:</label>
                                              <input type="text" class="form-control" id="mail">
                                            
                                              <label for="phone">Phone No:</label>
                                              <input type="text" class="form-control" id="phone">
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" ng-click="getMailIdPhoneNo(days1, days)" class="btn btn-default" data-dismiss="modal">Submit</button>
                                           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <!-- The Modal -->
                                  <div id="poi" class="poi_Modal">
                                 <!--<div class="modal-header">
                                       <span>Modal Header</span>  
                                       <span class="close">&times;</span>
                                     </div> -->
                              
                              <!-- Modal content -->
                                  <div class="poi-content">
                                <!-- <span class="close1">&times;</span> -->
                                <!-- <h5>Add Site</h5> -->
                                   <div class="row">
                                     <div class="col-md-6"><input type="text" class="form-control" placeholder="Site Name" ng-model="poiName"></div>
                                     <div class="col-md-3"><button type="button" class="btn btn-default" ng-click="submitPoi(poiName)">Save Site</button></div>
                                     <div class="col-md-3"><button type="button" class="btn btn-default poi_close" >Close</button></div>
                                   </div>
    
                                  </div>
                                </div>

                               </div>
                               <div class="nearbyTable">
                                <h3>NearBy Vehicles <a href="#" style="position:absolute; top:10px; right:10px;" ng-click="nearBy();">X</a></h3>
                                <h5>Your Place - {{nearbyLocs.fromAddress}}</h5>   
                                <div>
                                    <table cellpadding="0" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th style="width:30%;">Vehicle Name</th>
                                                <th style="width:30%;">Distance</th>
                                                <th style="width:40%;">Address</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="nearbyLoc in nearbyLocs.vehicleDetails">
                                                <td>({{nearbyLoc.shortName}})</td>
                                                <td align="right">{{nearbyLoc.distance}}</td>
                                                <td>{{nearbyLoc.address}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                               <div class="dynamicvehicledetails">
                                <div id="viewable" ng-show="_editValue_con">
                                    
                                        <table cellpadding="0" cellspacing="0" class="_alignLeft">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <input class="_button" type="button" value="Edit" ng-modal="_editShow" ng-click="_editShow = true" ng-hide="_editShow" />
                                                        <input class="_button" type="button" value="Save" ng-click="updateDetails(); _editShow = false" ng-show="_editShow"  ng-modal="_editShow"/>
                                                    </td>
                                                    <td ng-show="_editShow"><input type="text" class="_input" ng-model="_editValue._shortName" name="_editValue._shortName" ></td>
                                                    <td ng-hide="_editShow">{{_editValue._shortName}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Odo </td>
                                                    <td ng-show="_editShow"><input type="text" class="_input" ng-model="_editValue._odoDista" name="_editValue._odoDista" ></td>
                                                    <td ng-hide="_editShow"> {{_editValue._odoDista}} kms</td>
                                                    
                                                </tr>
                                                 <tr>
                                                    <td>Max</td>
                                                    <!-- <td id="mobno"><span id="val"></span> km/h</td> -->
                                                    <td ng-show="_editShow"><input type="text" class="_input" ng-model="_editValue._overSpeed" name="_editValue._overSpeed" ></td>
                                                    <td ng-hide="_editShow"> {{_editValue._overSpeed}} km/h</td>
                                                    
                                                </tr>
                                                <tr>
                                                    <td><span></span> Driver</td>
                                                    <!-- <td id="driverName"><span id="val"></span></td> -->
                                                    <td ng-show="_editShow"><input type="text" class="_input" ng-model="_editValue._driverName" name="_editValue._driverName" ></td>
                                                    <td ng-hide="_editShow"> {{_editValue._driverName}}</td>
                                                </tr>
                                               
                                                <tr>
                                                    <td id="positiontime"><span></span> Time</td>
                                                    <td id="regno"><span id="val"></span></td>
                                                </tr>
                                                <tr>
                                                    <td>Vehicle</td>
                                                    <!-- <td id="vehitype"><span></span></td> -->
                                                    <td ng-show="_editShow">
                                                        <select ng-options="vehi for vehi in _editValue._vehiTypeList" ng-model="_editValue.vehType" class="_button_select_small">
                                                          <option style="display:none" value="">Select Vehicle</option>
                                                        </select>
                                                    <!--     <input type="text" class="_input" ng-model="_editValue.vehType" name="_editValue.vehType" > -->
                                                    </td>
                                                    <td ng-hide="_editShow"> {{_editValue.vehType}}</td>
                                                </tr>

                                            <tr>
                                                <td>Route</td>
                                                <td ng-show="_editShow">
                                            <select ng-options="vehi for vehi in _editValue._vehiRoutesList" ng-model="_editValue.routeName" class="_button_select_small">
                                                <option style="display:none" value="">Select Route</option>
                                            </select>
                                                </td>
                                                <td ng-hide="_editShow">{{_editValue.routeName}}</td>
                                            </tr> 

                                                <tr>
                                                    <td>Mobile</td>
                                                    <!-- <td id="mobNo"><span></span></td> -->
                                                    <td ng-show="_editShow"><input type="text" class="_input" ng-model="_editValue._mobileNo" name="_editValue._mobileNo" ></td>
                                                    <td ng-hide="_editShow"> {{_editValue._mobileNo}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Reg</td>
                                                    <!-- <td id="regNo"><span></span></td> -->
                                                    <td ng-show="_editShow"><input type="text" class="_input" ng-model="_editValue._regNo" name="_editValue._regNo" ></td>
                                                    <td ng-hide="_editShow"> {{_editValue._regNo}}</td>
                                                </tr>
                                                
                                        </table>
                                   <div id="rightAddress">
                                    <div class="_caption_rightSide">Address</div>
                                    <div align="center" id="lastseen" style="word-wrap: break-word; font-size: 11px; "></div>
                                </div>
                                </div>
                                
                                    
                                </div>
                        </div>
                        <a href="javascript:void(0);" class="contentexpand"><img src="assets/imgs/add.png"/></a>
                        <!-- <div> -->
                            <input id="pac-input" class="controls" type="text" placeholder="Enter a location">
                            <div>
                                <map id="maploc" style="height:94vh; width:100%; margin-top:37px;"></map>
                            </div>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div id="mapTable-mapList">
            <div id="flexcolor">
                <div style="float: left; width: 50%; ">
                    <div style=" width: 40px; height: 40px; background-color: #858585; cursor: pointer" ng-click="mapView('home')">
                        <img src="assets/imgs/arrowback.png"/>
                    </div>
                </div>
                <div style="text-align: center;"><h5><b>Current Vehicle Details</b></h5> </div>
                
            </div>
             <!--  <script type="text/javascript">
  


        var headID = document.getElementsByTagName("body")[0];         
        var newScript = document.createElement('script');
        newScript.type = 'text/javascript';
        newScript.id = 'myjQuery';
        newScript.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places';
        // newScript.async = true;
        newScript.defer = true;


        headID.appendChild(newScript);
        console.log(' value '+newScript)






</script> -->
            <div id="scrollTable">
                   <table class="table table-striped table-bordered table-condensed table-hover">
                        <tr style="text-align:center">
                            <th style="text-align:center;" class="id" custom-sort order="'shortName'" sort="sort"><div style="width: 100px;">Vehicle Name</div></th>
                            <th style="text-align:center;" class="id" custom-sort order="'address'" sort="sort"><div style="width: 300px;">Nearest Location</div></th>
                            <th style="text-align:center;" class="id" custom-sort order="'position'" sort="sort"><div style="width: 70px;">Position</div></th>
                           <!-- <th style="text-align:center;" class="id" custom-sort order="'status'" sort="sort"><div style="width: 70px;">GPS</div></th>-->
                            <th style="text-align:center;" class="id" custom-sort order="'gsmLevel'" sort="sort"><div style="width: 70px;">Sat Count</div></th>
                            <th style="text-align:center;" class="id" custom-sort order="'ignitionStatus'" sort="sort"><div style="width: 70px;">Ignition</div></th>
                            <th style="text-align:center;" class="id" custom-sort order="'powerStatus'" sort="sort"><div style="width: 100px;">VehBattery</div></th>
                            <th style="text-align:center;" class="id" custom-sort order="'deviceStatus'" sort="sort"><div style="width: 100px;">DevBattery</div></th>
                            <th style="text-align:center;" class="id" custom-sort order="'regNo'" sort="sort"><div style="width: 100px;">Regn No</div></th>
                            <th style="text-align:center;" class="id" custom-sort order="'driverName'" sort="sort"><div style="width: 100px;">Driver Name</div></th>
                            
                            
                            <th style="text-align:center;" class="id" custom-sort order="'totalTruck'" sort="sort"><div style="width: 100px;">Load</div></th>
                            <th style="text-align:center;" class="id" custom-sort order="'fuelLitre'" sort="sort"><div style="width: 100px;">Fuel Litre</div></th>
                            <th style="text-align:center;" class="id" custom-sort order="'temperature'" sort="sort"><div style="width: 100px;">Temperature</div></th>
                            <th style="text-align:center;" class="id" custom-sort order="'vehicleBusy'" sort="sort"><div style="width: 100px;">Ac/Hire</div></th>
                            
                            <th style="text-align:center;" class="id" custom-sort order="'lastSeen'" sort="sort"><div style="width: 100px;">Last Seen</div></th>
                            <th style="text-align:center;" class="id" custom-sort order="'distanceCovered'" sort="sort"><div style="width: 50px;">KM</div></th>
                            <th style="text-align:center;" class="id" custom-sort order="'speed'" sort="sort"><div style="width: 70px;">Speed</div></th>
                            <th style="text-align:center;"><div style="width: 70px;">G-Link</div></th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="user in mapTable | orderBy:natural(sort.sortingOrder):sort.reverse" style="text-align:center; cursor: pointer" ng-mouseover="mouseJump(user)" ng-click="tabletd(user)">
                            <td>{{user.shortName}}</td>
                            <td>
                                <div>{{starSplit(user.address)[0]}}</div>
                                <div>{{starSplit(user.address)[1]}}</div>
                            </td>
                            <td ng-switch on="user.position">
                                <span ng-switch-when="S"><img title="Vehicle Standing" src="assets/imgs/orange.png"/></span>
                                <span ng-switch-when="M"><img title="Vehicle Moving" src="assets/imgs/green.png"/></span>
                                <span ng-switch-when="P"><img title="Vehicle Parked" src="assets/imgs/flag.png"/></span>
                                <span ng-switch-when="U"><img title="Vehicle NoData" src="assets/imgs/gray.png"/></span>
                            </td>
                    <!--    <td ng-switch on="user.status">
                                <span ng-switch-when="OFF"><img title="GPS OFF" src="assets/imgs/gof.png"/></span>
                                <span ng-switch-when="ON"><img title="GPS ON" src="assets/imgs/gon.png"/></span>
                            </td>-->
                            <td>{{user.gsmLevel}}</td>
                            <td ng-switch on="user.ignitionStatus">
                                <span ng-switch-when="OFF"><img src="assets/imgs/no.png"/></span>
                                <span ng-switch-when="ON"><img src="assets/imgs/yes.png"/></span>
                                          
                            </td>
                             <td>{{user.powerStatus}}
                                <!-- <span ng-switch-when="OFF"><img src="assets/imgs/wr.png"/></span>
                                <span ng-switch-when="ON"><img src="assets/imgs/rt.png"/></span> -->
                            </td>
                            <td>{{user.deviceStatus}}</td>
                            <td>{{user.regNo}}</td>
                            <td>{{user.driverName}}</td>
                            
                            
                            <td>{{valueCheck(user.totalTruck)}}</td>
                            <td>{{valueCheck(user.fuelLitre)}}</td>
                            
                            <td>{{user.temperature}}</td>
                            <td ng-switch on="user.vehicleBusy">
                                <span ng-switch-when="yes" style="color: #ff0045">Busy</span>
                                <span ng-switch-when="no" style="color: #00ce2f">Available</span>
                            </td>
                           
                            <td>{{user.date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td>{{user.distanceCovered}}</td>
                            <td>{{user.speed}}</td>
                            
                            
                            <td><a href="https://www.google.com/maps?q=loc:{{user.latitude}},{{user.longitude}}" target="_blank">Link</a></td>
                            <!-- <td style="cursor: pointer;" get-location lat={{user.latitude}} lon={{user.longitude}} index={{$index}} ng-if="user.address==null && mainlist[$index]==null">Click Me</td>
                            <td style="cursor: pointer;" ng-if="user.address==null && mainlist[$index]!=null">{{mainlist[$index]}}</td>
                            <td><a href="https://www.google.com/maps?q=loc:{{user.latitude}},{{user.longitude}}" target="_blank">Link</a></td> -->                                                      
                        </tr>
                    </table>        
                </div>
        </div>
    </div>
    

<div id="snackbar">{{toast}}</div>

 
</div>
    <!-- <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Near By Vehicles</h4>
          </div>
          <div class="modal-body">
            <p>click location you want to find nearby Vehicles</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div> -->
     
   
    


   <script type="text/javascript">
    
 // function for google language
function googleTranslateElementInit() 
{
     new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
var apikey_url = JSON.parse(sessionStorage.getItem('apiKey'));
var url = "https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places";

if(apikey_url != null || apikey_url != undefined)
        url = "https://maps.googleapis.com/maps/api/js?key="+apikey_url+"&libraries=places";

   function loadJsFilesSequentially(scriptsCollection, startIndex, librariesLoadedCallback) {
     if (scriptsCollection[startIndex]) {
       var fileref = document.createElement('script');
       fileref.setAttribute("type","text/javascript");
       fileref.setAttribute("src", scriptsCollection[startIndex]);
       fileref.onload = function(){
         startIndex = startIndex + 1;
         loadJsFilesSequentially(scriptsCollection, startIndex, librariesLoadedCallback)
       };
 
       document.getElementsByTagName("head")[0].appendChild(fileref)
     }
     else {
       librariesLoadedCallback();
     }
   }
 
   // An array of scripts you want to load in order
   var scriptLibrary = [];
   scriptLibrary.push("assets/js/static.js");
   scriptLibrary.push("assets/js/jquery-1.11.0.js");
 //scriptLibrary.push("assets/js/jquery-3.1.1.min.js");
   scriptLibrary.push("assets/js/bootstrap.min.js");
   scriptLibrary.push("https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js");
 //scriptLibrary.push("https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js");
   scriptLibrary.push(url);
// scriptLibrary.push("https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places");
   scriptLibrary.push("assets/js/ui-bootstrap-0.6.0.min.js");
 //scriptLibrary.push("//code.highcharts.com/highcharts.js");
 //scriptLibrary.push("//code.highcharts.com/highcharts-more.js");
 //scriptLibrary.push("//code.highcharts.com/modules/solid-gauge.js");
   scriptLibrary.push("assets/js/highcharts_new.js");
   scriptLibrary.push("assets/js/highcharts-more_new.js");
   scriptLibrary.push("assets/js/solid-gauge_new.js");
   scriptLibrary.push("assets/js/markerwithlabel.js");
   scriptLibrary.push("assets/js/markerclusterer.js");
   scriptLibrary.push("assets/js/infobubble.js");
   scriptLibrary.push("assets/js/infobox.js");
   scriptLibrary.push("assets/js/naturalSortVersionDatesCaching.js");
 //scriptLibrary.push("assets/js/naturalSortVersionDates.js");
   scriptLibrary.push("assets/js/vamoApp.js");
   scriptLibrary.push("assets/js/services.js");
   scriptLibrary.push("assets/js/custom.js");

   // Pass the array of scripts you want loaded in order and a callback function to invoke when its done
   loadJsFilesSequentially(scriptLibrary, 0, function(){
       // application is "ready to be executed"
       // startProgram();
   });

</script>

</body>
</html>
