<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="Satheesh">
<title>Easy Locator</title>
<link href="assets/css/bootstrap.css" rel="stylesheet">
<link href="assets/css/simple-sidebar.css" rel="stylesheet">
<link href="assets/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet">
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<style type="text/css">
	 #map_canvas{ width:100%; height:100%;}
	
	  
</style>
</head>
<body  ng-app="mapApp">
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PL6C9N"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PL6C9N');</script>
<!-- End Google Tag Manager -->

	<div id="wrapper" ng-controller="mainCtrl">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="javascript:void(0);"><img src="assets/imgs/logo.png"/></i></a></li>
                <li class="track"><a href="javascript:void(0);" class="active"><div></div><label>Track</label></a></li>
                <li class="history"><a href="javascript:void(0);"><div></div><label>History</label></a></li>
                <li class="alert01"><a href="javascript:void(0);"><div></div><label>Reports</label></a></li>
                <li class="sidebar-bottom"><a href="javascript:void(0);"><img src="assets/img/profile.png"/></a></li>
                <li><a href="http://128.199.217.144/vamo/public/logout"><img src="assets/imgs/logout.png"/></a></li>         
            </ul>
            <ul class="sidebar-subnav ">
                <li style="padding-left:25px;">
                	<div class="right-inner-addon" align="center"> 
                    <i class="fa fa-search"></i>
                    <input type="search" class="form-control" placeholder="Search" ng-model="searchbox" name="search" />
                    </div>
                </li>
                <li ng-repeat="location in locations" class="active"><a href="javascript:void(0);" ng-click="groupSelection(location.group, location.rowId)">{{location.group}}</a>
                    <ul class="nav nav-second-level">
                    <li ng-repeat="loc in location.vehicleLocations | filter:searchbox"><a href="javascript:void(0);" ng-class="{active: $index == selected, red:loc.status=='OFF'}" ng-click="genericFunction(loc.vehicleId, $index)">{{loc.vehicleId}} ({{loc.shortName}})</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                    	<div class="topContent">
                        	<!--<a href="javascript:void(0);" class="contentClose"><img src="assets/imgs/close.png"/></a>-->
                        	<div class="row">
                    			<div class="col-md-2" align="center" id="totalvehicles">
                                	<h6>Total Vehicles</h6>
                                    <h3>{{totalVehicles}}</h3>
                                </div>
                                <div class="col-md-6 col-lg-2">
                                	<h6>Vehicles Online</h6>
                                    <h3>{{vehicleOnline}}</h3>
                                </div>
                                <div class="col-md-2" id="totalalerts">
                                	<h6>Alarms</h6>
                                    <h3>{{alertstrack}}</h3>
                                </div>
                                <div class="col-md-2" id="totalAttention">
                                	<h6>Attention</h6>
                                    <h3>{{attention}}</h3>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                	<h6>Overall Distance</h6>
                                    <h3>{{distanceCovered}} <sup>Km</sup></h3>
                                </div>
                            </div>
                        </div>
                        <a href="javascript:void(0);" class="contentexpand"><img src="assets/imgs/add.png"/></a>
                        
                        <a href="#menu-toggle" id="menu-toggle"><img src="assets/imgs/drag.png"/></a>
                        <div ng-show="currentTab=='map'">
                        	<input id="pac-input" class="controls" type="text" placeholder="Search Box"/>
                        	<div id="pac-input01">
                                   
                                <div>
                                	<input type="button" id="traffic" ng-click="check()" value="Traffic" />
                                </div> 
                                <div>
                            		<input type="button" value="Distance" id="pac-input02" ng-click="distance();"/>
                                    <input type="text" id="distanceVal" value="0" disabled/> 
                                    
                                    <input type="button" value="Near by Vehicles" id="nearbyVeh" ng-click="nearBy();"/>
                                </div>
                        	</div>
                            <map id="map_canvas" style="height:100vh; width:100%;"></map>
                            <div class="nearbyTable">
                            	<h3>NearBy Vehicles <a href="#" style="position:absolute; top:10px; right:10px;" ng-click="nearBy();">X</a></h3>
                                <h5>Your Place - {{nearbyLocs.fromAddress}}</h5>	
                                <div>
                                	<table cellpadding="0" cellspacing="0">
                                    	<thead>
                                            <tr>
                                                <th>Vehicle ID</th>
                                                <th>Distance</th>
                                                <th>Address</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="nearbyLoc in nearbyLocs.vehicleDetails">
                                                <td>{{nearbyLoc.vehicleId}}({{nearbyLoc.shortName}})</td>
                                                <td align="right">{{nearbyLoc.distance}}</td>
                                                <td>{{nearbyLoc.address}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            
                        </div>
                        <div ng-show="currentTab=='history'"> 
                        	<!--<map2 id="alertsTab" style="height:100vh; width:100%;"></map2>-->
                        </div>
                        <div ng-show="currentTab=='alert'">
                        	<!--<map id="map_canvas01" style="height:100vh; width:100%;"></map>	-->
                        </div>
                        <div class="bottomContent">
                        	<a href="javascript:void(0);" class="contentbClose"><img src="assets/imgs/close.png"/></a>
                            <div id="lastseen"></div>
                        	<div class="row">
                    			<div class="col-md-4 col-lg-2" align="center" id="vehiid">
                                	<h6>Vehicle ID</h6>
                                    <h3>-</h3>
                                </div>
                                <div class="col-md-2" align="center" id="vehdevtype">
                                	<h6>Device Model</h6>
                                    <h3>-</h3>
                                </div>
                                <div class="col-md-1" align="center" id="vehstat">
                                	<h6>Position</h6>
                                    <h3>-</h3>
                                </div>
                                <div class="col-md-4 col-lg-2" align="center">
                          			<div class="container01" align="center"></div>
                                </div>
                                <div class="col-md-4 col-lg-2" align="center" id="toddist">
                                	<h6>Today Distance</h6>
                                    <h3>-</h3>
                                </div>
                                <div class="col-md-1" align="center" id="mobno">
                                	<h6>Speed Limit</h6>
                                    <h3>-</h3>
                                </div>
                                <div class="col-md-2" align="center" id="regno">
                                	<h6>Engine</h6>
                                    <h3>-</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
	<script src="assets/js/jquery-1.11.0.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script> 
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places" type="text/javascript"></script>
    <script src="assets/js/markerwithlabel.js"></script>
    <script src="assets/js/custom.js"></script>
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
</body>
</html>
