#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
	height: 100vh;
    margin-left: -250px;
    overflow-y: auto;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	overflow:hidden;
	box-shadow:0px 8px 17px rgba(0, 0, 0, 0.2)  !important;
}

#page-content-wrapper { width: 100%; }


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 80px;
    margin: 0;
    padding: 0;
	height: 100vh;
    list-style: none;
	background:#196481;
	box-shadow:0px 8px 17px rgba(0, 0, 0, 0.2)  !important;
}


.sidebar-nav li {
    line-height: 40px;
	text-align:center;

}
.sidebar-nav li:last-child {
    padding:0;
}

.sidebar-nav li a {
    display: block;
	
    text-decoration: none;
    color: #fff;
	padding-top:12px;
	padding-bottom:1px;
	
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: #152b44;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus, .sidebar-nav li a.active {
    text-decoration: none;
	background: #fff;
	color: #196481;
}
.sidebar-nav li a.active:hover{
	color: #333;
}
.sidebar-nav > .sidebar-brand {
    height: 80px;
    font-size: 18px;
    line-height: 60px;
	padding-bottom:20px;
	
	border-bottom:3px solid #ccc;
	background-color:#fff;
	
}
.sidebar-nav > .track{
	border-top:1px solid #fff;
}
.sidebar-nav > .sidebar-brand a {
    color: #999;

}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.sidebar-subnav { left:80px;
height:100%;
 margin: 0;
    padding: 0;
background-color:#fff;
    list-style: none;
	position:absolute;
	top:0;
/*border-right: 1px solid #adadad;*/
padding-left:10px;
z-index:-1;


}
.sidebar-subnav >li > a{ border-bottom:1px solid #ccc; background:url('../imgs/marker-s-red.png') no-repeat 5px center; font-size:14px; text-decoration:none;color:#666;
font-family:"Helvetica Neue", "Helvetica Neue Light", "Helvetica Neue Medium", "Helvetica Neue Thin", "Helvetica Neue UltraLight"; padding:5px 0 5px 20px;
font-weight:normal; margin-bottom:10px; display:inline-block; width:90%; }

.sidebar-subnav li nav li a.active{ background:#000 !important; }

.sidebar-subnav >li a:nth-child(2){
background:url('../imgs/marker-s-pink.png') no-repeat 5px center;
}
.sidebar-subnav li li a {
color:#888;
font-family:"Helvetica Neue", "Helvetica Neue Light", "Helvetica Neue Medium", "Helvetica Neue Thin", "Helvetica Neue UltraLight";
font-weight:normal;
font-size:12px;
padding-left:0px;

}
.sidebar-subnav li li a.red{ color:red;}
/*.sidebar-subnav li ul li a:hover {
color:#152b44;
}*/
.sidebar-subnav li ul li.active a{ background-color:#aaa !important;
color:#333;
}

.sidebar-bottom{ margin-top:30%;}
.col-lg-12{ padding:0 !important;}
@media(min-width:768px) {
    #wrapper { padding-left: 250px; }
    #sidebar-wrapper { width: 250px; }
	 #wrapper.toggled { padding-left: 20px; }
	  #wrapper.toggled #sidebar-wrapper { width: 80px;}
	  #wrapper.toggled #page-content-wrapper {
        position: relative;
margin-right:0;
    }
}
#map_canvas, #alertsTab{ width:100%; height:100%;}
#menu-toggle{ top:100px; position:fixed; left:65px; z-index:1000;}

.topContent{ background:#fff; position: absolute; height: auto; z-index: 9;border: 1px solid #efefef; border-top:0;  width:78%; left:75px;}
.topContent h6{ margin-top:10px; text-align:center; color:#196481 !important; font-weight:normal;}
.topContent h6 span{ font-weight:bold !important; }
.topContent h6 span sup{ font-size:10px; padding:0; margin:0;}
/*.topContent h3{ padding-top:0; margin-top:0; font-size:2em; font-weight:lighter !important; text-align:center;}
.topContent h3 sup{ font-size:10px; padding:0; margin:0;}*/

#page-content-wrapper .row{ margin:0 !important; padding:0 !important;}
.container-fluid{ padding:0;}
.topContent .col{ border-right:1px solid #efefef;}
.contentClose{ position:absolute; right:30px; top:25px; cursor:pointer; z-index:1001;}
.contentexpand{position:absolute; right:30px; top:25px; cursor:pointer; z-index:1001; display:none;}
#totalalerts h3{ color:red;}
#totalAttention h3{ color:#ff916e;}
#content{ width:560px; padding:0 0 10px 0; background:#efefef; opacity:0.8;}
#content h3{ color:#bf0078; text-align:center;  }
.right-inner-addon {
    position: relative;
	color:#2d5b8c;
	width:80%;
	margin:15px 0;
	margin-bottom:5px;
	
}
.right-inner-addon input {
    padding-right: 30px;
	/*background:#0d202f;*/
	color:#2d5b8c !important;    
}

.right-inner-addon i {
    position: absolute;
    right: 0px;
	color:#2d5b8c;
    padding: 10px 12px;
    pointer-events: none;
}
li a label{ width:100%; display:block;}
.track a>div, .track a:hover>div{ background:url('../imgs/track.png') no-repeat center center; width:100%; height:30px;}
.history a>div, .history a:hover>div{ background:url('../imgs/history.png') no-repeat center center; width:100%; height:30px;}
.alert01 a>div, .alert01 a:hover>div{ background:url('../imgs/alert.png') no-repeat center center; width:100%; height:30px;}
.settings a>div, .settings a:hover>div{ background:url('../imgs/settings.png') no-repeat center center; width:100%; height:32px;}
.stastics a>div, .stastics a.hover>div{ background:url('../imgs/stastics.png') no-repeat center center; width:100%; height:32px;}
.admin a>div, .admin a.hover>div{ background:url('../imgs/admin.png') no-repeat center center; width:100%; height:32px;}

.track a.active>div{ background:url('../imgs/trackActive.png') no-repeat center center; width:100%; height:30px;}
.history a.active>div{ background:url('../imgs/historyActive.png') no-repeat center center; width:100%; height:30px;}
.alert01 a.active>div{ background:url('../imgs/alertActive.png') no-repeat center center; width:100%; height:30px;}
.settings a.active>div{ background:url('../imgs/settingsActive.png') no-repeat center center; width:100%; height:32px;}
.stastics a.active>div{ background:url('../imgs/stasticsActive.png') no-repeat center center; width:100%; height:32px;}
.admin a.active>div{ background:url('../imgs/adminActive.png') no-repeat center center; width:100%; height:32px;}

.bottomContent{ /*opacity:0.8;*/ background:#fff; position: absolute; bottom: 0; width: 100%; height: auto; z-index: 9;border-top: 1px solid #bbb;}
.contentbClose{ right:10px; bottom:20px; position:absolute; z-index:99;}
.bottomContent h6{text-align:center;  color:#196481; font-weight:normal;}
.bottomContent h6 span{ font-weight:bold;}
.bottomContent h3{ padding-top:0; margin-top:0; font-size:12px;; text-align:center;}
.labels{ color:#fff;}
.container01{min-width: 200px; max-width: 220px; width: 220px; height: 125px; bottom:-33px; margin: 0 auto; position:absolute;}
.labels { color: #fff; font-size: 8px; font-weight:normal; text-align: center; width: 24px; white-space: nowrap;}

.controls {margin-top: 16px;border: 1px solid transparent;border-radius: 2px 0 0 2px;box-sizing: border-box;-moz-box-sizing: border-box;height: 32px;outline: none;box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);}
	  #pac-input {padding: 0 11px 0 13px; width: 400px;font-family: Roboto; z-index:999; position:absolute; left:65px; font-size: 15px;font-weight: 300;text-overflow: ellipsis;margin-top:70px;margin-right:10px;}
	  #pac-input01 {margin-right:0; margin-top:5px; margin-bottom:10px; position:absolute;  z-index:999; right:100px}
	  #pac-input01 input{ background:none; border:none; font-size:11px; background-color:#fff; border:1px solid #aaa; margin-bottom:10px;}
	  #pac-input02{ margin-right:0; margin-top:0;}
      #pac-input:focus { border-color: #4d90fe; margin-left: -1px; padding-left: 14px; width: 401px;}
	  #vehiid h3{ font-size:12px;}
	  #lastseen{ font-size:12px; color:#000; position:absolute; bottom:67px; margin-left:1px; padding:3px 5px; background:#fff;}
	   #lastseentrack{ font-size:12px; color:#000; position:absolute; bottom:35px; margin-left:1px; padding:3px 5px; background:#fff;}
	  #lstseendate{font-size:12px; color:#000; position:absolute; bottom:67px; margin-left:1px; padding:3px 5px; background:#fff; right:0;}
	 #distanceVal{font-size:14px; color:#000; background:#666 !important; border:1px solid #ccc; position:absolute; top:32px; height:22px; padding-right:5px; text-align:right; color:#eee; font-size:11px; right:-94px; width:89px !important;}
	 #traffic{ width:58px; }
	 #nearbyVeh{ position:absolute; text-align:center; width:153px;  }
	 
	 .nearbyTable{ position:absolute !important; top:91px; padding:10px; background:#fff; right:7px;}
	 .nearbyTable01{ bottom:95px;  position:absolute !important; background:#fff; right:7px; border:1px solid #999;}
	 .nearbyTable02{ background:#fff; }
	 .nearbyTable h3, .nearbyTable01 h3, h3.infoh3{padding:0 0 10px 0; font-size:14px; margin:0; text-align:center;}
	 .nearbyTable01 h3{ background:#ccc; font-size:12px; padding:10px;}
	 
	 .nearbyTable h5{padding:0 0 5px 0; font-size:12px; margin:0; text-align:center;}
	 .nearbyTable table, .nearbyTable01 table, .nearbyTable02 table{font-size:11px;}
	 .nearbyTable table th{ padding:3px 5px; background:#eee; }
	 .nearbyTable table td, .nearbyTable01 table td, .nearbyTable02 table td{ padding:3px 5px;}
	 .nearbyTable table tbody tr:nth-child(even), .nearbyTable01 table tbody tr:nth-child(even), .nearbyTable02 table tbody tr:nth-child(even){background: #efefef;}
	.latlong{font-size:12px; color:#000; position:absolute; bottom:33px; margin-left:1px; background:#fff; padding:5px 0 0 5px; }
	.latlong label{ margin-right:10px;}
	.latlong input{ width:150px; font-weight:normal; padding-left:10px; }
	.topContent01{ padding-top:15px; padding-bottom:0; width:85%; opacity:0.95;}
 	label{font-weight:normal !important;}
	.error{ display:none;}

	#status, #status02 {width: 200px;height: 200px;position: absolute;left: 50%;top: 50%;background-image: url(../imgs/status.gif);background-repeat: no-repeat;background-position: center;background-color:transparent;margin: -100px 0 0 -100px;}
	#preloader, #preloader02 {position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 9999;}
	#preloader02 { background-color:transparent; display:none;}
	
	  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  and (-webkit-min-device-pixel-ratio: 1){ 
		#vehdevtype, #totalvehicles, #totalalerts, #totalAttention, #vehstat, #mobno, #regno{ display:none;}
		.topContent, #pac-input{ left:3px;}
		#lastseen{ bottom:120px;}
		#nearbyVeh{ top:64px; right:-97px;}
		#distanceVal{font-size:14px; color:#000 !important; background:#FFFF00 !important;}
	}

	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 2) { 
		#vehdevtype, #totalvehicles, #totalalerts, #totalAttention, #vehstat, #mobno, #regno{ display:none;}
		.topContent, #pac-input{ left:3px;}
		#lastseen{ bottom:120px;}
		#nearbyVeh{ top:64px; right:-97px;}
		#distanceVal{font-size:14px; color:#000 !important; background:#FFFF00 !important;}
	}
.speedbutt input{ margin-right: 5px;}
.speedbutt span{ font-size:11px;}
.loading-img {
	z-index: 1020;
	width:100px;
	height:100px;
	position:absolute;
	top: 100px;
  left: 400px;
	background: transparent url('../imgs/ajax-loader1.gif') 50% 50% no-repeat;
}
.zoomMS{ 
	-moz-transform: scale(0.9, 0.9); /* Moz-browsers */
    zoom: 0.9; /* Other non-webkit browsers */
    zoom: 90%; /* Webkit browsers */
}
.overlay{
  z-index: 1010;
  background: rgba(255, 255, 255, 0.7);
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.radioButt{margin-right:5px; vertical-align:baseline;}
