<!DOCTYPE html>
<html>
	<head>
        <link href="assets/css/jVanilla.css" rel="stylesheet">
    </head>
	   <body>
            <div style="box-shadow:0px 8px 17px rgba(0, 0, 0, 0.2)  !important;">
                <nav>
                    <ul class="menu-hover">
                        <li class="list"> <a href="#">Maps</a>
                            <ul class="menu-hover">
                                <li class="list"><a href="../public/replay">History</a></li>
                                <li class="list"><a href="../public/live">Track</a></li>
                                <li class="list"> <a href="../public/sites">Site Details</a>
                            </ul>
                      <!--   </li> -->
                        
                            <!-- <ul class="menu-hover">
                                <li class="list"><a href="">All jQuery </a></li>
                                <li class="list"><a href="">Accordion</a></li>
                                <li class="list"><a href="">All jQuery </a></li>
                                <li class="list"><a href="">Accordion</a></li>
                                <li class="list"><a href="">All jQuery </a></li>
                                <li class="list"><a href="">Accordion</a></li>
                            </ul> -->
                        <!-- </li> -->
                        <li class="list"> <a href="../public/reports">Reports</a>
                            <ul class="menu-hover">
                                <li class="list"><a href="../public/reports"> Current </a></li>
                                <li class="list"><a href="../public/reports?ind=1"> Consolidated </a></li>
                                <!-- <li class="list"><a href="">History</a>
                                    <ul class="menu-hover">
                                        <li class="list"><a href=""> Movement </a>
                                            <ul class="menu-hover" id="listGrop"></ul>
                                        </li>
                                        <li class="list"><a href="" > OverSpeed </a>
                                            <ul class="menu-hover" id="listGrop"></ul>
                                        </li>
                                        <li class="list"><a href=""> Parked </a>
                                            <ul class="menu-hover" id="listGrop"></ul>
                                        </li>
                                        <li class="list"><a href=""> Idle </a>
                                            <ul class="menu-hover" id="listGrop"></ul>
                                        </li>
                                        <li class="list"><a href=""> Event </a>
                                            <ul class="menu-hover" id="listGrop"></ul>
                                        </li>
                                        <li class="list"><a href=""> Site </a>
                                            <ul class="menu-hover" id="listGrop"></ul>
                                        </li>
                                        <li class="list"><a href=""> Load </a>
                                            <ul class="menu-hover" id="listGrop"></ul>
                                        </li>
                                    </ul>
                                </li> -->
                               <!--  <li class="list"><a href="">All jQuery </a></li>
                                <li class="list"><a href="">Accordion</a></li> -->
                            </ul>
                        </li>
                        <li class="list"> <a href="../public/fuel">Fuel</a></li>
                        <li class="list"> <a href="#"> Statistics </a>
                            <ul class="menu-hover">
                                <li class="list"><a href="../public/statistics">Executive</a></li>
                                <li class="list"><a href="../public/statistics?ind=1">POI</a></li>
                            </ul>
                        </li>
                        <li class="list"> <a href="../public/performance"> Performance </a></li>
                         <li class="list"> <a href="../public/logout"> Logout </a> 
                        <!--     <ul class="menu-hover">
                                <li class="list"><a href="#"> Test 1 </a></li>
                                <li class="list"><a href="#"> Test 2 </a></li>
                                <li class="list"><a href="#"> Test 3 </a></li>
                            </ul> -->
                        </li>
                    </ul>
                </nav>
            </div>
       <!--  // <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script> -->
      
       <script>
       // var dropselvalue = sessionStorage.getItem("user");
       // console.log(' sessionStorage '+dropselvalue)
       // $("#one").text(dropselvalue);
       </script>
	</body>
</html>