

<div style="box-shadow:0px 8px 17px rgba(0, 0, 0, 0.2)  !important;">     
<nav class="menus">
    <ul>
        <li class="cl-effect-5">
            
            <!-- <a><span  data-hover="Tracking">Tracking</span></a><span class="glyphicons glyphicons-road"></span> -->
            <a><span  data-hover="Tracking"><div class="glyphicon glyphicon-map-marker"></div>&nbsp;Tracking</span></a>
            <ul>
                <li><a id="history" href="" target="_blank">History</a></li>
                <li><a id="singleTrack" href="">Single Track</a></li>
                <li><a id="multiTrack" href="">Multi Track</a></li>
                <li class="removeli"><a href="../public/track?maps=replay&rt=routes">Routes</a></li>
                <li><!-- <a id="addsites">Admin</a>
                   <div  style="padding-left: 10px"> -->
                       <a href="../public/password_check" id="addsites">AddSites / Geo Fence</a>
                 <!--   </div> -->
                </li>
                <!-- <li id="removeli"><a href="../public/groupEdit">Edit Group</a></li> -->
            </ul>
        </li>
        <li class="cl-effect-5">
            <!-- <a><span data-hover="Reports">Reports</span></a> -->
            <a><span  data-hover="Reports"><div class="glyphicon glyphicon-list-alt"></div>&nbsp;Reports</span></a>
            <ul>
                <li><a href="../public/reports">CURRENT STATUS</a></li>
                <li><a href="../public/reports?ind=1">Vehicles Consolidated </a></li>
                <li><a href="../public/reports?ind=2"> Consolidated Site / Location</a></li>
                <!-- <li> <a href="#"> Advanced &nbsp; </a>
                     <div style="padding-left: 10px">
                        <table style="width: 300px; height: 100px;">
                            <tr>
                                <td><a id="movement" href="" class="lowcase"> Movement </a></td>
                                <td><a id="overspeed" href="" class="lowcase"> OverSpeed </a></td>
                                <td><a id="parked" href="" class="lowcase"> Parked </a></td>
                            </tr>
                            <tr>
                                <td><a id="idle" href="" class="lowcase"> Idle </a></td>
                                <td><a id="event" href="" class="lowcase"> Event </a></td>
                                <td><a id="site" href="" class="lowcase"> Site </a></td>
                            </tr>
                            <tr>
                                <td><a id="load" href="" class="lowcase"> Load </a></td>
                                <td><a id="fuel" href="" class="lowcase"> Fuel </a></td>
                                <td><a id="ignition" href="" class="lowcase"> Ignition </a></td>
                            </tr>
                            <tr>
                                <td><a id="trip" href="" class="lowcase"> Trip Time </a></td>
                                <td><a id="tripkms" href="" class="lowcase"> Trip Summary</a></td>
                                <td><a id="temp" href="" class="lowcase"> Temperature</a></td>
                            </tr>
                            <tr>
                                <td><a id="alarm" href="" class="lowcase">Alarm</a></td>
                            </tr>
                        </table>

                    </div>
                </li> -->
            </ul>
        </li>
            <li class="cl-effect-5">
                <!-- <a><span data-hover="analytics">analytics</span></a> -->
                <a><span  data-hover="analytics"><div class="glyphicon glyphicon-screenshot"></div>&nbsp;analytics</span></a>
                <ul>
                    <li><a id="movement" href=""> Movement </a></li>
                    <li><a id="overspeed" href=""> OverSpeed </a></li>
                    <li><a id="parked" href=""> Parked </a></li>
                    <li><a id="idle" href=""> Idle </a></li>
                    <li><a id="event" href=""> Event </a></li>
                    <li><a id="site" href=""> Site </a></li>
                    <li><a id="multiSite" href=""> Site (Mulitple Site)</a></li>
                    
                    <li><a id="trip" href=""> Trip Time </a></li>
                    <li><a id="tripkms" href=""> Trip Summary</a></li>
                    
                    <li><a id="alarm" href="">Alarm</a></li>
                    <li><a id="ac" href="">A/C</a></li>
                

                </ul>
            </li>
        <li class="cl-effect-5">
            <!-- <a><span data-hover="Statistics">Statistics</span></a> -->
            <a><span  data-hover="Statistics"><div class="glyphicon glyphicon-stats"></div>&nbsp;Statistics</span></a>
            <ul>
                <li><a href="../public/statistics">Daily</a></li>
                <li><a href="../public/statistics?ind=1">POI</a></li>
                <li><a href="../public/statistics?ind=2">Consolidated</a></li>
            </ul>
        </li>
        <li class="cl-effect-5">
        <a><span  data-hover="sensor"><div class="glyphicon glyphicon-list"></div>&nbsp;sensor</span></a>
            <!-- <a><span data-hover="sensor">sensor</span></a> -->
            <ul>
                <li><a id="load" href=""> Load </a></li>
                   
                    <li><a id="ignition" href=""> Ignition </a></li>
                    <li><a id="temp" href=""> Temperature</a></li>
                    <li><a id="tempdev" href=""> Temperature Deviation</a></li>
                    <li><a id="fuel" href=""> Fuel </a></li>
                    <li><a href="../public/fuel">Distance &amp; Time</a></li>
                    <li><a href="../public/fuel?tab=fuelfill">Fuel Fill</a></li>
                    <li><a id="rfid" href="">Rfid</a></li>
                    <li><a id="camera" href="">Camera</a></li> 
            </ul>
        </li>
        <!-- <li class="cl-effect-5">
           
            <a><span  data-hover="Fuel"><div class="glyphicon glyphicon-tint"></div>&nbsp;Fuel</span></a>
            <ul>
                <li><a href="../public/fuel">Distance &amp; Time</a></li>
                <li><a href="../public/fuel?tab=fuelfill">Fuel Fill</a></li>
            </ul>
        </li> -->
        <li class="cl-effect-5">
            <a><span  data-hover="Performance"><div class="glyphicon glyphicon-charts"></div>&nbsp;Performance</span></a>
            <!-- <a><span  data-hover="Performance">Performance</span></a> -->
            <ul>
                <li><a href="../public/performance?tab=daily">Daily Performance</a></li>
                <li><a href="../public/performance">Monthly Performance</a></li>
            </ul>
        </li>
        
        
       
        <li id="userId">
           
            <span class="glyphicon glyphicon-user"><span id="valueUser" style="font-size:12px; font-weight: bold; font-family: Helvetica"></span></span>  
            <ul>
                <li class="removeli"><a href="../public/groupEdit">Edit Group</a></li>
                <li class="removeli"><a  href="../public/passWd?userlevel=notify" >Edit Notification</a></li>
                <li class="removeli"><a  href="../public/passWd?userlevel=reset" >Reset Password</a></li>
                <!-- <li class="removeli"><a  href="../public/passWd?userlevel=busStop" >Edit BusStop</a></li> -->
            </ul>
        </li>
        
        <li>
            <a href="../public/logout" class="glyphicon glyphicon-log-out" style="padding: 10px 15px;color: #fff; text-align: center;"></a>
        </li>
    </ul>
</nav>
</div>

<script type="text/javascript">


// $('#pwdModal').appendTo("body") 
    

    // var menuValue = JSON.parse(sessionStorage.getItem('userIdName'));
    // var sp = [];
    // try{

    //     sp = menuValue.split(",");
        
    // }catch (err){
    //     $.ajax({

    //         async: false,
    //         method: 'GET', 
    //         url: "aUthName",
    //         // data: {"orgId":$scope.orgIds},
    //         success: function (response) {

    //             console.log(response)
    //             sp[1] = response[1];
    //         }
    //     })
    //     // sp[1] = 'DEMO';
    //     // console.log(document.location)
    // }

var menuValue = JSON.parse(sessionStorage.getItem('userIdName'));
        sp1 = menuValue.split(",");
    $('#valueUser').text("  "+sp1[1]);


    var obj = JSON.parse(sessionStorage.getItem('user'));
            var sp  = obj.split(',');
            var vid = sp[0];
            var gname = sp[1];
            $("#movement").click(function() {
               $(this).attr("href", 'history?vid='+vid+'&vg='+gname+'&tn=movement')
            });
            $("#overspeed").click(function() {
                $(this).attr("href", 'history?vid='+vid+'&vg='+gname+'&tn=overspeed')
            });
            $("#parked").click(function() {
                $(this).attr("href", 'history?vid='+vid+'&vg='+gname+'&tn=parked')
            });
            $("#idle").click(function() {
                $(this).attr("href", 'history?vid='+vid+'&vg='+gname+'&tn=idle')
            });
            $("#event").click(function() {
                $(this).attr("href", 'event?vid='+vid+'&vg='+gname+'&tn=event')
            });
            $("#site").click(function() {
                $(this).attr("href", 'siteReport?vid='+vid+'&vg='+gname+'&tn=site')
            }); 
            $("#multiSite").click(function() {
                $(this).attr("href", 'multiSite?vid='+vid+'&vg='+gname+'&tn=multiSite')
            });
            $("#load").click(function() {
                $(this).attr("href", 'loadDetails?vid='+vid+'&vg='+gname+'&tn=load')
            });
            $("#fuel").click(function() {
                $(this).attr("href", 'history?vid='+vid+'&vg='+gname+'&tn=fuel')
            });
            $("#ignition").click(function() {
                $(this).attr("href", 'history?vid='+vid+'&vg='+gname+'&tn=ignition')
            });
            $('#trip').click(function() {
                $(this).attr("href", 'trip?vid='+vid+'&vg='+gname+'&tn=trip')
            });
            $('#tripkms').click(function() {
                // console.log(' clck ')
                $(this).attr("href", 'track?vid='+vid+'&vg='+gname+'&tn=tripkms&maps=tripkms')
            });
            $('#temp').click(function() {
                // console.log(' clck ')
                $(this).attr("href", 'temperature?vid='+vid+'&vg='+gname+'&tn=temperature')
            });
            $('#tempdev').click(function() {
                // console.log(' clck ')
                $(this).attr("href", 'temperature?vid='+vid+'&vg='+gname+'&tn=temperatureDev')
            });
            $('#alarm').click(function(){
                $(this).attr("href", 'alarm?vid='+vid+'&vg='+gname+'&tn=alarm')
            })

            $('#ac').click(function(){
                $(this).attr("href", 'history?vid='+vid+'&vg='+gname+'&tn=acreport')
            })

            $('#rfid').click(function(){
                $(this).attr("href", 'rfidTag?vid='+vid+'&vg='+gname+'&tn=rfid')
            })
            
            $('#camera').click(function(){
                $(this).attr("href", 'camera?vid='+vid+'&vg='+gname+'&tn=camera')
            })

            $('#multiTrack').click(function(){
                $(this).attr("href", 'track?vehicleId='+vid+'&track=multiTrack&maps=mulitple');
                $(this).attr("target", '_blank');
            });
            $('#singleTrack').click(function(){
                $(this).attr("href", 'track?vehicleId='+vid+'&track=single&maps=single');
                $(this).attr("target", '_blank');
            });

            $('#history').click(function () {
                $(this).attr("href", "track?maps=replay&vehicleId="+vid)
            })

            $('#addsites').click(function(){
                if(sessionStorage.getItem('auth') == 'sitesVal')
                    $(this).attr("href", 'track?maps=sites')
                else
                    $(this).attr("href", 'password_check') 
            });


            
            var isVir = JSON.parse(sessionStorage.getItem('isVirtualUser'));
            if(isVir == null || isVir == undefined){
                var globalIP = document.location.host;
                var contextMenu = '/gps';
                $.get('https://'+globalIP+contextMenu+'/public/isVirtualUser', function(response) {
                
                    var menuVal =response.trim();
                    sessionStorage.setItem('isVirtualUser', JSON.stringify(menuVal));
                    if(menuVal == 'true') {

                        var myList = document.getElementsByClassName('removeli');
                        for (var i = 0; myList.length > i ; i++) {
                            myList[i].innerHTML = '';
                        }
                    }
                
                }).error(function(){
                    console.log('error in isVirtualUser');
                });
            }


    
</script>

